
@using Nour_Shop.ViewModels
@model List<OrderItem>

<h1>Orders</h1>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Names</th>
            <th scope="col">Quantity</th>
            <th scope="col">UserName</th>
            <th scope="col">Mobile</th>
            <th scope="col">Payment</th>
            <th scope="col">OrderDate</th>
            <th scope="col">Location</th>
            <th scope="col">Status</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th>@p.Id</th>
                <td>@p.ProductName</td>
                <td>@p.Quantity</td>
                <td>@p.UserName</td>
                <td>@p.Mobile</td>
                <td>@p.Payment</td>
                <td>@p.OrderDate</td>
                <td>@p.Status</td>





                <td>
                    @*                     Html.ActionLink("Edit","Edit","Employee",new{Id=d.Id},new{@class="btn btn-outline-info"})
                *@                    @*@Html.ActionLink("Edit","Edit","Employee",null,new{@class="btn btn-outline-info"})*@
                    @*<a href="/Employee/Edit/@d.Id" class="btn btn-outline-info">Edit</a>*@
                </td>
                @*     <td><a href="/Employee/Details/" class="btn btn-outline-success">Details</a></td>
            <td><a href="/Employee/Delete/" class="btn btn-outline-danger">Delete</a></td> *@
            </tr>
        }

    </tbody>
</table>
