@using Nour_Shop.ViewModels
@model List<Products>

<h1>manager</h1>
<td><a href="/Admin/NewProduct" class="btn btn-primary btn-block mb-4">New Product</a></td>
<td><a href="/Admin/AdminOrders" class="btn btn-primary btn-block mb-4">Orders</a></td>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Status</th>
            <th scope="col">Catogary</th>
            <th scope="col">Brand</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Discount</th>
            <th scope="col">ImageName</th>
            <th scope="col">Image</th>



        </tr>
    </thead>
    <tbody>
        @foreach (var p in Model)
        {
            <tr>
                <th>@p.Id</th>
                <td>@p.Name</td>
                <td>@p.Status</td>
                <td>@p.Catogary</td>
                <td>@p.Brand</td>
                <td>@p.Description</td>
                <td>@p.Price</td>
                <td>@p.Discount</td>
                <td>@p.Image</td>
                <td><img src="data:image;base64,@Convert.ToBase64String(p.ImageData)" alt="Image" width="100px" height="100px"/> </td>
                <td><a href="/Admin/EditPage/@p.Id" class="btn btn-outline-secondary">edit</a></td>
                <td><a href="/Admin/Delete/@p.Id" class="btn btn-outline-secondary">delete</a></td>





                <td>
@*                     Html.ActionLink("Edit","Edit","Employee",new{Id=d.Id},new{@class="btn btn-outline-info"})
 *@                    @*@Html.ActionLink("Edit","Edit","Employee",null,new{@class="btn btn-outline-info"})*@
                    @*<a href="/Employee/Edit/@d.Id" class="btn btn-outline-info">Edit</a>*@</td>
            @*     <td><a href="/Employee/Details/" class="btn btn-outline-success">Details</a></td>
                <td><a href="/Employee/Delete/" class="btn btn-outline-danger">Delete</a></td> *@
            </tr>
        }

    </tbody>
</table>
